openapi: 3.2.0
info:
  title: OpenAPI definition Opportunity API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Opportunity
paths:
  /api/opportunities:
    post:
      tags:
      - Opportunity
      operationId: createOpportunity
      parameters:
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityCreateDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityResponseDto'
        '409':
          description: Custom Id already exists
        '500':
          description: Internal server error. Please contact the support team.
      summary: Create opportunity
      x-summary-source: derived
    get:
      tags:
      - Opportunity
      operationId: getOpportunities
      parameters:
      - name: accountId
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          example: owner
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 10
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityListDto'
        '500':
          description: Internal server error. Please contact the support team.
      summary: Get opportunities
      x-summary-source: derived
  /api/opportunities/customId/{customId}:
    get:
      tags:
      - Opportunity
      operationId: getOpportunityByCustomId
      parameters:
      - name: customId
        in: path
        required: true
        schema:
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
        example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityResponseDto'
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
      summary: Get opportunity by custom id
      x-summary-source: derived
  /api/opportunities/{opportunityId}:
    get:
      tags:
      - Opportunity
      operationId: getOpportunity
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
          example: opp_VDafd3FooHfe
        example: opp_VDafd3FooHfe
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityResponseDto'
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
      summary: Get opportunity
      x-summary-source: derived
  /api/opportunities/{opportunityId}/quotes/{quoteId}/link:
    put:
      tags:
      - Opportunity
      operationId: linkOpportunityToQuote
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
          example: opp_X0XZ05bvkrB1RpLS
        example: opp_X0XZ05bvkrB1RpLS
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityQuoteLinkResponseDto'
        '409':
          description: Another opportunity has already been linked to this quote.
        '500':
          description: Internal server error. Please contact the support team.
      summary: Link opportunity to quote
      x-summary-source: derived
  /api/opportunities/{opportunityId}/quotes/{quoteId}/setPrimary:
    put:
      tags:
      - Opportunity
      operationId: setPrimaryQuote
      parameters:
      - name: opportunityId
        in: path
        required: true
        schema:
          type: string
          example: opp_X0XZ05bvkrB1RpLS
        example: opp_X0XZ05bvkrB1RpLS
      - name: quoteId
        in: path
        required: true
        schema:
          type: string
          example: quote_X0XZ05bvkrB1RpLS
        example: quote_X0XZ05bvkrB1RpLS
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      summary: Set primary quote
      x-summary-source: derived
components:
  schemas:
    com.monytyz.billing.opportunity.dto.OpportunityQuoteLinkResponseDto:
      type: object
      properties:
        opportunityId:
          type: string
          example: opp_VDafd3FooHfe
        customOpportunityId:
          type: string
          example: customId_nmyNv
        opportunityName:
          type: string
          example: NewOpportunity_qGOji
        quoteId:
          type: string
          example: quote_IqgnB7H2HIZPpcz4
    com.monytyz.billing.opportunity.dto.OpportunityQuoteDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        modifyDate:
          type: string
          format: date-time
        type:
          type: string
          enum:
          - NEW
          - AMENDMENT
          - RENEWAL
        status:
          type: string
          enum:
          - DRAFT
          - REVIEW
          - APPROVED
          - DENIED
          - SENT
          - ACCEPTED
          - ACCEPTED_ADMIN_EDITABLE
          - PROCESSED
          - CANCELED
          - EXPIRED
          - ARCHIVED
        total:
          type: number
        contractStartDate:
          type: string
          format: date
        contractEndDate:
          type: string
          format: date
        currency:
          type: string
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        legalEntityId:
          type: string
    com.monytyz.billing.opportunity.dto.OpportunityResponseDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          example: opp_tnBG9B0Dbwvh
        customId:
          type: string
          example: customId_tqQ0D
        name:
          type: string
          example: NewOpportunity_UG62S
        primaryQuoteId:
          type: string
          example: quote_kku7e3fCQqxLq5lo
        url:
          type: string
          format: uri
          example: https://na85.lightning.force.com/lightning/r/Opportunity/xxxxxxxxxxx/view
        owner:
          type: string
          example: USW Sales
        amount:
          type: number
        accountName:
          type: string
        status:
          type: string
          enum:
          - WON
          - CANCELED
          - ACTIVE
          - LOST
        quotes:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityQuoteDto'
        accountId:
          type: string
          example: acct_pSiInc8itY9yVFY7
        currency:
          type: string
          example: USD
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        dealRoomId:
          type: string
    com.monytyz.billing.opportunity.dto.OpportunityCreateDto:
      required:
      - accountId
      type: object
      properties:
        primaryQuoteId:
          type: string
          example: quote_cHCX0TFN79rDgDyg
        customId:
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
        name:
          type: string
          example: Google
        accountId:
          type: string
          example: acct_JsT0t6adwZvrhp1z
    com.monytyz.billing.opportunity.dto.OpportunityPrimaryQuoteDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.opportunity.dto.OpportunityListDto:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunitySummaryDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
    com.monytyz.billing.common.dto.ResponseDto:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
    com.monytyz.billing.opportunity.dto.OpportunitySummaryDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
        customId:
          type: string
        name:
          type: string
        primaryQuote:
          $ref: '#/components/schemas/com.monytyz.billing.opportunity.dto.OpportunityPrimaryQuoteDto'
        amount:
          type: number
        currency:
          type: string
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        dealRoomId:
          type: string
