openapi: 3.2.0
info:
  title: OpenAPI definition Account Document API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: AccountDocument
paths:
  /api/accounts/{accountId}/accountDocuments:
    post:
      tags:
      - AccountDocument
      operationId: createAccountDocuments
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - data
              - file
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentCreateRequest'
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Create account document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Create account documents
      x-summary-source: derived
    get:
      tags:
      - AccountDocument
      operationId: searchAccountDocuments
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: query
        schema:
          type: string
          example: refresrc_BLAZsAN6fowzX
      - name: name
        in: query
        schema:
          type: string
          example: Test resource
      - name: description
        in: query
        schema:
          type: string
          example: marketing resource description
      - name: status
        in: query
        schema:
          type: string
          example: CREATED
      - name: sort
        in: query
        schema:
          type: string
          example: name
      - name: currentPage
        in: query
        schema:
          type: number
          example: 1
      - name: pageSize
        in: query
        schema:
          type: number
          example: 10
      - name: createDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: modifyDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Search account documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.util.MNPage'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Search account documents
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}:
    delete:
      tags:
      - AccountDocument
      operationId: deleteAccountDocument
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '204':
          description: Delete account document.
          content:
            application/json: {}
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Delete account document
      x-summary-source: derived
    get:
      tags:
      - AccountDocument
      operationId: getAccountDocument
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get account document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Get account document
      x-summary-source: derived
    put:
      tags:
      - AccountDocument
      operationId: updateAccountDocument
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - data
              - file
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentUpdateRequest'
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Update account document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Update account document
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}/attachments/{storageId}:
    get:
      tags:
      - AccountDocument
      operationId: downloadAccountDocumentAttachment
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: storageId
        in: path
        required: true
        schema:
          type: string
      - name: attachContent
        in: query
        required: false
        schema:
          type: boolean
          default: false
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Download account document's attachment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Download account document attachment
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}/contacts:
    put:
      tags:
      - AccountDocument
      operationId: updateAccountDocumentContacts
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentContactUpdateRequest'
        required: true
      responses:
        '200':
          description: Update account document's esign contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Update account document contacts
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}/draft:
    post:
      tags:
      - AccountDocument
      operationId: draftAccountDocument
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Move an account document to Draft state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Draft account document
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}/send:
    post:
      tags:
      - AccountDocument
      operationId: sendForSigning
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Send account document for signing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Send for signing
      x-summary-source: derived
  /api/accounts/{accountId}/accountDocuments/{accountDocumentId}/signerStats:
    get:
      tags:
      - AccountDocument
      operationId: getSignerStats
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: accountDocumentId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get signer stats of account document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.esign.dto.ESignRecipientResponse'
        '404':
          description: Account not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Get signer stats
      x-summary-source: derived
components:
  schemas:
    com.monytyz.billing.storage.dto.StorageObjectDto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the storage object
          example: stobj_9mKcK14J28T1wucn
        filename:
          type: string
          description: Name of the file
          example: sample.pdf
        mediaType:
          type: string
          description: Media type of the file
          example: application/pdf
        type:
          type: string
          description: Storage type of the storage object like MSA, NDA, ESIGN, SOW etc
          example: MSA
          enum:
          - MSA
          - DPA
          - NPA
          - NDA
          - LOGO
          - ESIGN
          - SOW
          - COVER
          - FOOTER
          - ATTACHMENT
        referenceType:
          type: string
          description: Reference type of the storage object like QUOTE, COMPANY_CONFIG and QUOTE_CONFIG
          example: QUOTE
          enum:
          - QUOTE
          - COMPANY_CONFIG
          - QUOTE_CONFIG
          - LEGAL_ENTITY
          - DEAL_ROOM
          - RESOURCE_REFERENCE
          - ACCOUNT_DOCUMENT
        referenceId:
          type: string
          description: Reference Id of the storage object
          example: quote_tFGfviu7pmUo7w3k
        referenceFilename:
          type: string
          description: Reference file name of the storage object
          example: sample.pdf
    com.monytyz.billing.customer.v2.dto.AccountDocumentDetailResponse:
      required:
      - accountId
      - accountName
      - contacts
      - creatorName
      - id
      - name
      - signingOrder
      - status
      - storageObject
      - storageObjectId
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        accountName:
          type: string
        signingOrder:
          type: string
          enum:
          - INTERNAL_FIRST
          - EXTERNAL_FIRST
          - EXTERNAL_ONLY
          - INSTANTANEOUS
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
          - CREATED
          - SENT
          - SIGNED
        storageObjectId:
          type: string
        esignEnvelopeId:
          type: string
        signedDocumentStorageObjectId:
          type: string
        contacts:
          $ref: '#/components/schemas/com.monytyz.billing.customer.v2.dto.AccountDocumentContactResponse'
        storageObject:
          $ref: '#/components/schemas/com.monytyz.billing.storage.dto.StorageObjectDto'
        signedDocumentStorageObject:
          $ref: '#/components/schemas/com.monytyz.billing.storage.dto.StorageObjectDto'
        signedAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
        creatorName:
          type: string
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
    com.monytyz.billing.esign.dto.ESignRecipient:
      required:
      - declinedDateTime
      - deliveredDateTime
      - email
      - id
      - name
      - order
      - sentDateTime
      - signedDateTime
      - status
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        order:
          type: string
        status:
          type: string
        declinedDateTime:
          type: string
        deliveredDateTime:
          type: string
        sentDateTime:
          type: string
        signedDateTime:
          type: string
    com.monytyz.billing.customer.v2.dto.AccountDocumentCreateRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    com.monytyz.billing.customer.v2.dto.AccountDocumentContactUpdateRequest:
      required:
      - esignCcIds
      - esignPrimaryIds
      - esignSecondaryIds
      type: object
      properties:
        esignPrimaryIds:
          uniqueItems: true
          type: array
          items:
            type: string
        esignSecondaryIds:
          uniqueItems: true
          type: array
          items:
            type: string
        esignCcIds:
          uniqueItems: true
          type: array
          items:
            type: string
    com.monytyz.billing.esign.dto.ESignRecipientResponse:
      required:
      - ccContacts
      - currentRoutingOrder
      - recipientCount
      - signers
      type: object
      properties:
        recipientCount:
          type: string
        currentRoutingOrder:
          type: string
        signers:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.esign.dto.ESignRecipient'
        ccContacts:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.esign.dto.ESignRecipient'
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.customer.v2.dto.AccountDocumentUpdateRequest:
      required:
      - name
      - signingOrder
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        signingOrder:
          type: string
          enum:
          - INTERNAL_FIRST
          - EXTERNAL_FIRST
          - EXTERNAL_ONLY
          - INSTANTANEOUS
    ContactSnapshotDtoAddressSnapshotDto:
      type: object
      properties:
        line1:
          type: string
          description: First line of the address
          example: 344 Clinton Street
        line2:
          type: string
          description: Second line of the address
          example: Apartment 3D
        city:
          type: string
          description: City of the address
          example: New York
        state:
          type: string
          description: State of the address
          example: New York
        country:
          type: string
          description: Country of the address
          example: US
        postalCode:
          type: string
          description: Postal code of the address
          example: '12345'
        description:
          type: string
          description: Description of the address
          example: Permanent Address
      description: Address of the contact
    com.monytyz.billing.customer.dto.contact.ContactSnapshotDto:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the contact
          example: cntct_8P9ijCslTprCI7Wu
        accountId:
          type:
          - string
          - 'null'
          description: Account ID associated with the contact
          example: acc_1234567890123
        customId:
          type:
          - string
          - 'null'
          description: A user provided identifier for the contact
          example: c993f52b-0bbd-454b-9849-fd6c1991efb6
        internal:
          type: boolean
          description: Boolean value indicating if the contact is internal or external which is used for e-Signing
          example: false
        snapshotId:
          type: string
          description: The identifier of the snapshot
          example: cntctsnp_4J3aiDdLtQPc13VO
        address:
          $ref: '#/components/schemas/ContactSnapshotDtoAddressSnapshotDto'
        fullName:
          type: string
          description: Full name of the contact
          example: Bob Smith
        email:
          type: string
          description: Email of the contact
          example: contact@example.com
        phone:
          type:
          - string
          - 'null'
          description: Phone of the contact
          example: +1 800 444 4444
        title:
          type:
          - string
          - 'null'
          description: Title of the contact
          example: CFO
    com.monytyz.billing.customer.v2.dto.AccountDocumentContactResponse:
      required:
      - additionalESignRecipients
      - primaryESignContacts
      - secondaryESignContacts
      type: object
      properties:
        primaryESignContacts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSnapshotDto'
        secondaryESignContacts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSnapshotDto'
        additionalESignRecipients:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSnapshotDto'
    com.monytyz.billing.util.MNPage:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            type: object
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
