openapi: 3.2.0
info:
  title: OpenAPI definition Trial API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Trial
paths:
  /api/accounts/{accountId}/trials:
    get:
      tags:
      - Trial
      operationId: getTrialsByAccountId
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/com.monytyz.billing.data.account.AccountId'
      - name: id
        in: query
        schema:
          type: string
          example: trl_iJuVJLgQKIFc98RE
      - name: status
        in: query
        schema:
          type: string
          example: SUCCEEDED
      - name: startDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: endDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: endAction
        in: query
        schema:
          type: string
          example: CANCEL
      - name: type
        in: query
        schema:
          type: string
          example: NEW
      - name: quoteId
        in: query
        schema:
          type: string
          example: quot_W4Zj6cKgHwoII
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.util.MNPageCom.monytyz.billing.trial.dto.TrialResponse'
      summary: Get trials by account id
      x-summary-source: derived
  /api/accounts/{accountId}/trials/{trialId}/cancel:
    post:
      tags:
      - Trial
      operationId: cancelTrial
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_afnasdl98RE
      - name: trialId
        in: path
        required: true
        schema:
          type: string
          example: trl_iJuVJLgQKIFc98RE
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.trial.dto.CancelTrialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      summary: Cancel trial
      x-summary-source: derived
  /api/accounts/{accountId}/trials/{trialId}/convert:
    post:
      tags:
      - Trial
      operationId: convertTrial
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_afnasdl98RE
      - name: trialId
        in: path
        required: true
        schema:
          type: string
          example: trl_iJuVJLgQKIFc98RE
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.trial.dto.ConvertTrialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      summary: Convert trial
      x-summary-source: derived
  /api/trials:
    post:
      tags:
      - Trial
      operationId: createTrial
      parameters:
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.trial.dto.CreateTrialRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      summary: Create trial
      x-summary-source: derived
    get:
      tags:
      - Trial
      operationId: getTrials
      parameters:
      - name: id
        in: query
        schema:
          type: string
          example: trl_iJuVJLgQKIFc98RE
      - name: accountId
        in: query
        schema:
          type: string
          example: acct_afnasdl98RE
      - name: status
        in: query
        schema:
          type: string
          example: SUCCEEDED
      - name: startDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: endDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: endAction
        in: query
        schema:
          type: string
          example: CANCEL
      - name: type
        in: query
        schema:
          type: string
          example: NEW
      - name: quoteId
        in: query
        schema:
          type: string
          example: quot_W4Zj6cKgHwoII
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.util.MNPageCom.monytyz.billing.trial.dto.TrialResponse'
      summary: Get trials
      x-summary-source: derived
components:
  schemas:
    com.monytyz.billing.data.cpq.QuoteId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.trial.dto.ConvertTrialRequest:
      required:
      - isAutoConverted
      type: object
      properties:
        isAutoConverted:
          type: boolean
    com.monytyz.billing.trial.dto.TrialConversionPolicy:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - NEW
          - AMENDMENT
      discriminator:
        propertyName: type
    com.monytyz.billing.trial.dto.ProductDetail:
      required:
      - id
      - quantity
      type: object
      properties:
        id:
          $ref: '#/components/schemas/com.monytyz.billing.data.catalog.ProductId'
        quantity:
          type: integer
          format: int32
    com.monytyz.billing.data.catalog.OfferingId:
      type: string
      description: Unique identifier of an offering
      example: offr_jb0eOTfjtEdTX
    com.monytyz.billing.trial.dto.OfferingProductDetail:
      required:
      - offeringId
      - productDetails
      - rateId
      type: object
      properties:
        offeringId:
          $ref: '#/components/schemas/com.monytyz.billing.data.catalog.OfferingId'
        productDetails:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.trial.dto.ProductDetail'
        rateId:
          $ref: '#/components/schemas/com.monytyz.billing.data.catalog.RateId'
    com.monytyz.billing.data.account.ContactId:
      type: string
      description: Unique identifier of a contact
      example: cont_jb0eOTfjtEdTX
    com.monytyz.billing.data.account.AccountId:
      type: string
      description: Unique identifier for the account
      example: acct_73Vv4gb6PCfWU
    com.monytyz.billing.trial.data.TrialId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    com.monytyz.billing.trial.dto.CreateTrialRequest:
      required:
      - accountId
      - defaultEndAction
      - endDate
      - quoteInitDetails
      - startDate
      - trialConversionPolicy
      - type
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/com.monytyz.billing.data.account.AccountId'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        defaultEndAction:
          type: string
          enum:
          - CONVERT_TO_PAID
          - CANCEL
        type:
          type: string
          enum:
          - NEW
          - AMENDMENT
        quoteInitDetails:
          $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialToQuoteInitDetails'
        trialConversionPolicy:
          oneOf:
          - $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialConversionPolicy.NewTrialConversionPolicy'
    com.monytyz.billing.trial.dto.QuoteHeaderInfo:
      required:
      - billingContactId
      - lengthOfContract
      - netTerms
      - primaryContactId
      type: object
      properties:
        lengthOfContract:
          type: integer
          format: int32
        netTerms:
          type: string
          enum:
          - NET_0
          - NET_5
          - NET_7
          - NET_8
          - NET_10
          - NET_14
          - NET_15
          - NET_20
          - NET_21
          - NET_30
          - NET_45
          - NET_60
          - NET_75
          - NET_90
          - NET_100
          - NET_120
          - NET_150
          - NET_180
        primaryContactId:
          $ref: '#/components/schemas/com.monytyz.billing.data.account.ContactId'
        billingContactId:
          $ref: '#/components/schemas/com.monytyz.billing.data.account.ContactId'
    com.monytyz.billing.trial.dto.TrialResponse:
      required:
      - accountId
      - endAction
      - endDate
      - endStatusDate
      - endStatusReason
      - id
      - quoteId
      - quoteInitDetails
      - startDate
      - status
      - trialConversionPolicy
      - type
      type: object
      properties:
        id:
          $ref: '#/components/schemas/com.monytyz.billing.trial.data.TrialId'
        accountId:
          $ref: '#/components/schemas/com.monytyz.billing.data.account.AccountId'
        status:
          type: string
          enum:
          - ACTIVE
          - AUTO_CONVERTED
          - MANUALLY_CONVERTED
          - AUTO_CANCELED
          - MANUALLY_CANCELED
          - EXPIRED
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        endAction:
          type: string
          enum:
          - CONVERT_TO_PAID
          - CANCEL
        type:
          type: string
          enum:
          - NEW
          - AMENDMENT
        endStatusDate:
          type: string
          format: date-time
        quoteId:
          $ref: '#/components/schemas/com.monytyz.billing.data.cpq.QuoteId'
        quoteInitDetails:
          $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialToQuoteInitDetails'
        trialConversionPolicy:
          oneOf:
          - $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialConversionPolicy.NewTrialConversionPolicy'
        endStatusReason:
          type: string
    com.monytyz.billing.data.catalog.ProductId:
      type: string
      description: Unique identifier of a product
      example: prod_Jlwk8t665ZWN9
    com.monytyz.billing.data.catalog.RateId:
      type: string
      description: Unique identifier for the rate
      example: rate_73Vv4gb6PCfWU
    com.monytyz.billing.trial.dto.TrialConversionPolicy.NewTrialConversionPolicy:
      required:
      - offeringProductDetails
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialConversionPolicy'
      - type: object
        properties:
          offeringProductDetails:
            type: array
            items:
              $ref: '#/components/schemas/com.monytyz.billing.trial.dto.OfferingProductDetail'
    com.monytyz.billing.trial.dto.CancelTrialRequest:
      required:
      - cancelType
      - cancellationReason
      type: object
      properties:
        cancelType:
          type: string
          enum:
          - MANUAL
          - AUTO
        cancellationReason:
          maxLength: 250
          minLength: 0
          type: string
    com.monytyz.billing.trial.dto.TrialToQuoteInitDetails:
      required:
      - quoteHeaderInfo
      - version
      type: object
      properties:
        version:
          type: string
        quoteHeaderInfo:
          $ref: '#/components/schemas/com.monytyz.billing.trial.dto.QuoteHeaderInfo'
    com.monytyz.billing.util.MNPageCom.monytyz.billing.trial.dto.TrialResponse:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.trial.dto.TrialResponse'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
