openapi: 3.2.0
info:
  title: OpenAPI definition Contact API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Contact
  description: Contacts represent individual, address, and company deatils for your customers.
paths:
  /api/accounts/{accountId}/billGroups/{billGroupId}/contacts:
    post:
      tags:
      - Contact
      summary: Create bill group contact
      operationId: createBillGroupContact
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: billGroupId
        in: path
        required: true
        schema:
          type: string
          example: billg_tDbC2FxuCwQoxcjm
        example: billg_tDbC2FxuCwQoxcjm
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSaveDto'
        required: true
      responses:
        '201':
          description: Create Object
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/billGroups/{billGroupId}/contacts/{contactId}:
    put:
      tags:
      - Contact
      summary: Update bill group contact
      description: Update bill group contact details
      operationId: updateBillGroupContact
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_jgPH8G33rELY6LQa
        example: acct_jgPH8G33rELY6LQa
      - name: billGroupId
        in: path
        required: true
        schema:
          type: string
          example: billg_tDbC2FxuCwQoxcjm
        example: billg_tDbC2FxuCwQoxcjm
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          example: cntct_HcDS5ya4Fpsi5Wky
        example: cntct_HcDS5ya4Fpsi5Wky
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Update object by id
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/contacts:
    post:
      tags:
      - Contact
      summary: Create contact for account
      description: Create contact to associate with an account
      operationId: createAccountContact
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_jgPH8G33rELY6LQa
        example: acct_jgPH8G33rELY6LQa
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSaveDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '409':
          description: Custom Id already exists
        '500':
          description: Internal server error. Please contact the support team.
    get:
      tags:
      - Contact
      summary: Get all contacts
      description: Get all contacts by account Id
      operationId: getAllContactsByAccountId
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_jgPH8G33rELY6LQa
        example: acct_jgPH8G33rELY6LQa
      - name: id
        in: query
        schema:
          type: string
          example: cont_CABapaOcqQbmo
      - name: customId
        in: query
        schema:
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
      - name: fullName
        in: query
        schema:
          type: string
          example: Mr Twist
      - name: email
        in: query
        schema:
          type: string
          example: test@mail.com
      - name: phone
        in: query
        schema:
          type: string
          example: '+12099216581'
      - name: addressId
        in: query
        schema:
          type: string
          example: addr_snXlpJfqys6nU
      - name: city
        in: query
        schema:
          type: string
          example: New York
      - name: state
        in: query
        schema:
          type: string
          example: New York
      - name: country
        in: query
        schema:
          type: string
          example: US
      - name: postalCode
        in: query
        schema:
          type: string
          example: 12345
      - name: status
        in: query
        schema:
          type: string
          example: ACTIVE
      - name: showInternal
        in: query
        schema:
          type: boolean
          example: true
      - name: esigner
        in: query
        schema:
          type: boolean
          example: true
      - name: defaultESigner
        in: query
        schema:
          type: boolean
          example: false
      - name: sort
        in: query
        schema:
          type: string
          example: id
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 20
      - name: createDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: modifyDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactListDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/contacts/customId/{customId}:
    get:
      tags:
      - Contact
      summary: Get contact
      description: Get contact by account Id and account custom Id
      operationId: getContactByAccountIdAndCustomId
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: customId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/contacts/{contactId}:
    get:
      tags:
      - Contact
      summary: Get contact
      description: Get contact by account Id and contact Id
      operationId: getContactByAccountIdAndId
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          example: cntct_QEPqCDqeaVte5WzM
        example: cntct_QEPqCDqeaVte5WzM
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/contacts:
    post:
      tags:
      - Contact
      summary: Create contact
      operationId: createContact
      parameters:
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactSaveDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        '400':
          description: Bad Request
        '409':
          description: Custom Id already exists
        '500':
          description: Internal server error. Please contact the support team.
    get:
      tags:
      - Contact
      summary: Get all contacts
      operationId: getAllContacts
      parameters:
      - name: id
        in: query
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
      - name: customId
        in: query
        schema:
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
      - name: fullName
        in: query
        schema:
          type: string
          example: Mr Twist
      - name: email
        in: query
        schema:
          type: string
          example: test@mail.com
      - name: phone
        in: query
        schema:
          type: string
          example: '+12099216581'
      - name: showInternal
        in: query
        schema:
          type: boolean
          example: true
      - name: esigner
        in: query
        schema:
          type: boolean
          example: true
      - name: defaultESigner
        in: query
        schema:
          type: boolean
          example: false
      - name: primary
        in: query
        schema:
          type: boolean
          example: true
      - name: accountId
        in: query
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
      - name: status
        in: query
        schema:
          type: string
          example: ACTIVE
      - name: addressId
        in: query
        schema:
          type: string
          example: addr_m0CB9LflojZxytfC
      - name: city
        in: query
        schema:
          type: string
          example: New York
      - name: state
        in: query
        schema:
          type: string
          example: New York
      - name: country
        in: query
        schema:
          type: string
          example: US
      - name: postalCode
        in: query
        schema:
          type: string
          example: 12345
      - name: sort
        in: query
        schema:
          type: string
          example: id
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 20
      - name: createDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: modifyDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactListDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/contacts/search:
    get:
      tags:
      - Contact
      summary: Search contact by id, customId, and name
      description: Get all contact's that meet the search criteria as a list
      operationId: searchContacts
      parameters:
      - name: query
        in: query
        schema:
          type: string
          example: query string
      - name: sort
        in: query
        schema:
          type: string
          example: id
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 10
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactListDto'
        '500':
          description: Internal server error. Please contact the support team.
  /api/contacts/{contactId}:
    get:
      tags:
      - Contact
      summary: Get contact
      description: Get contact by contact Id
      operationId: getContactByContactId
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: string
          example: cntct_QEPqCDqeaVte5WzM
        example: cntct_QEPqCDqeaVte5WzM
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Get contact by id '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
components:
  schemas:
    com.monytyz.billing.customer.dto.contact.ContactDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: A unique identifier for the contact
          example: cntct_8P9ijCslTprCI7Wu
        customId:
          type: string
          description: A user provided identifier for the contact
          example: c993f52b-0bbd-454b-9849-fd6c1991efb6
        accountId:
          type: string
          description: Account ID where the contact belongs
          example: acct_m0CB9LflojZxytfC
        address:
          $ref: '#/components/schemas/com.monytyz.billing.customer.dto.address.AddressDto'
        status:
          type: string
          description: Status of the contact. Status can be ACTIVE, CANCELED or ARCHIVED
          example: ACTIVE
          enum:
          - ACTIVE
          - CANCELED
          - ARCHIVED
        fullName:
          type: string
          description: Full name of the contact
          example: Bob Smith
        email:
          type: string
          description: Email of the contact
          example: contact@example.com
        phone:
          type: string
          description: Phone of the contact
          example: +1 800 444 4444
        title:
          type: string
          description: Title of the contact
          example: CFO
        internal:
          type: boolean
          description: Boolean value indicating if the contact is internal or external which is used for e-Signing
          example: false
        primary:
          type: boolean
          description: Boolean value indicating if the contact is primary or not
          example: true
        defaultESigner:
          type: boolean
          description: Boolean value indicating if the contact is default eSigner
          example: false
        customFields:
          type: object
          additionalProperties:
            type: object
            description: User configured custom fields for the contact
          description: User configured custom fields for the contact
        esigner:
          type: boolean
      description: Primary contact information for this account
    com.monytyz.billing.customer.dto.contact.ContactListDto:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.customer.dto.contact.ContactDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
    com.monytyz.billing.customer.dto.address.AddressSaveDto:
      required:
      - city
      - country
      - description
      - line1
      - line2
      - postalCode
      - state
      type: object
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
        country:
          type: string
        postalCode:
          type: string
        description:
          type: string
      description: Address of the contact
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.customer.dto.contact.ContactSaveDto:
      required:
      - fullName
      - status
      type: object
      properties:
        customId:
          maxLength: 255
          minLength: 0
          type:
          - string
          - 'null'
          description: A user provided identifier for the contact
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
        address:
          $ref: '#/components/schemas/com.monytyz.billing.customer.dto.address.AddressSaveDto'
        fullName:
          maxLength: 255
          minLength: 0
          type: string
          description: Full name of the contact
          example: Bob Smith
        email:
          maxLength: 79
          minLength: 0
          type: string
          description: Email of the contact
          example: contact@example.com
        phone:
          maxLength: 50
          minLength: 0
          type:
          - string
          - 'null'
          description: Phone of the contact
          example: +1 800 444 4444
        status:
          type: string
          description: Status of the contact. Status can be ACTIVE, CANCELED or ARCHIVED
          example: ACTIVE
          enum:
          - ACTIVE
          - CANCELED
          - ARCHIVED
        title:
          maxLength: 100
          minLength: 0
          type:
          - string
          - 'null'
          description: Title of the contact
          example: CFO
        internal:
          type: boolean
          description: Boolean value indicating if the contact is internal or external which is used for e-Signing
          example: false
        primary:
          type: boolean
          description: Boolean value indicating if the contact is primary or not
          example: false
        defaultESigner:
          type: boolean
          description: Boolean value indicating if the contact is default eSigner
          example: false
        customFields:
          type: object
          additionalProperties:
            type: object
        esigner:
          type: boolean
    com.monytyz.billing.customer.dto.address.AddressDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for the address
          example: addr_bkoY6dCoLRblllsJ
        line1:
          type: string
          description: First line of the address
          example: 344 Clinton Street, Apartment 3D
        line2:
          type: string
          description: Second line of the address
          example: Apartment 3D
        city:
          type: string
          description: City of the address
          example: New York
        state:
          type: string
          description: State of the address
          example: New York
        country:
          type: string
          description: Country of the address
          example: US
        postalCode:
          type: string
          description: Postal code of the address
          example: '12345'
        description:
          type: string
          description: Description of the address
          example: Permanent Address
      description: Billing address for the account
