openapi: 3.2.0
info:
  title: OpenAPI definition Payment API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Payment
  description: Payment is an object that represents an amount paid to an invoice.
paths:
  /api/accounts/{accountId}/billGroups/{billGroupId}/invoices/pay:
    post:
      tags:
      - Payment
      summary: Pay all invoices of a bill group
      description: Endpoint to pay all invoices of a bill group
      operationId: payAllInvoicesByBillGroup
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
      - name: billGroupId
        in: path
        required: true
        schema:
          type: string
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentListDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/payments:
    get:
      tags:
      - Payment
      summary: Retrieve payments for an invoice
      description: Endpoint to retrieve payments for an invoice by account
      operationId: retrievePayments
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: id
        in: query
        schema:
          type: string
          example: paymt_4tNy5UtdAtnSD7Nd
      - name: collectionDate
        in: query
        schema:
          type: string
          example: '2022-04-13'
      - name: amount
        in: query
        schema:
          type: string
          example: 1000
      - name: paymentStatus
        in: query
        schema:
          type: string
          example: PENDING
      - name: paymentType
        in: query
        schema:
          type: string
          example: Monthly
      - name: paymentGatewayId
        in: query
        schema:
          type: string
          example: pmgw_MSCkYBrfDEFN1
      - name: gatewayCustomerId
        in: query
        schema:
          type: string
          example: cus_SPMgUFAFNNwMsw
      - name: sort
        in: query
        schema:
          type: string
          example: id
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 20
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '201':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentListDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/payments/invoice/{invoiceId}/pay:
    post:
      tags:
      - Payment
      summary: Pay an invoice
      description: Endpoint to pay an invoice
      operationId: payInvoice
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
          example: invce_3oUtURRnJJ8Afdw0
        example: invce_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.ApplyPaymentToInvoiceDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/payments/invoice/{invoiceId}/pay/manual:
    post:
      tags:
      - Payment
      summary: Pay an invoice using manually payment
      description: Endpoint to pay an invoice using manually payment
      operationId: invoiceManualPayment
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
          example: invce_3oUtURRnJJ8Afdw0
        example: invce_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.ManualPaymentSaveDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/payments/manual/{paymentId}:
    put:
      tags:
      - Payment
      summary: Update Manual Payment
      description: Update reference number, description or payment date of a manual payment
      operationId: updateManualPayment
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
          example: pymt_xgAOiEhQZWgY2
        example: pymt_xgAOiEhQZWgY2
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.UpdateManualPaymentDto'
        required: true
      responses:
        '200':
          description: Update Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentDetailDto'
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/accounts/{accountId}/payments/{paymentId}:
    get:
      tags:
      - Payment
      summary: Retrieve payment by id
      description: Endpoint to retrieve payment by id
      operationId: retrievePaymentById
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
          example: pmt_EMfbqn56S9h9CweL
        example: pmt_EMfbqn56S9h9CweL
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '201':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentDto'
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/payments/{paymentId}/print:
    get:
      tags:
      - Payment
      operationId: printPayment_1
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/pdf
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
          example: pmt_EMfbqn56S9h9CweL
        example: pmt_EMfbqn56S9h9CweL
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Payment PDF by ID
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
      summary: Print payment 1
      x-summary-source: derived
  /api/payments/{paymentId}/refund:
    post:
      tags:
      - Payment
      summary: Refund a payment
      description: Endpoint to refund a payment
      operationId: paymentRefund_1
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
          example: pmt_m0CB9LflojZxytfC
        example: pmt_m0CB9LflojZxytfC
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.payment.dto.refund.RefundInitiateDto'
        required: true
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.refund.RefundDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
      deprecated: true
components:
  schemas:
    com.monytyz.billing.customer.dto.account.AccountSummary:
      required:
      - accountType
      - id
      - isTestAccount
      - status
      type: object
      properties:
        id:
          type: string
        customId:
          type: string
        isTestAccount:
          type: boolean
        locale:
          type: string
        accountName:
          type: string
        defaultCurrency:
          type: string
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        status:
          type: string
          enum:
          - ACTIVE
          - CANCELED
          - SUSPENDED
          - INACTIVE
        accountType:
          type: string
          enum:
          - CUSTOMER
          - PARTNER
        defaultLegalEntityId:
          type: string
    com.monytyz.billing.transactable.dto.SourceApplicationSummary:
      required:
      - amount
      - applicationDate
      - targetId
      - targetType
      - type
      type: object
      properties:
        targetId:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.TargetId'
        targetType:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.model.enums.TargetType'
        amount:
          type: number
        type:
          type: string
          enum:
          - APPLICATION
          - UNAPPLICATION
        applicationDate:
          type: string
          format: date-time
      description: All application(s) of the credit note
    com.monytyz.billing.payment.dto.payment.PaymentListDto:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.payment.dto.payment.PaymentDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
    com.monytyz.billing.payment.dto.payment.ApplyPaymentToInvoiceDto:
      required:
      - amount
      type: object
      properties:
        paymentMethodId:
          type: string
          description: Unique identifier for the payment method
          example: pmtm_m0CB9LflojZxytfC
        amount:
          type: number
          description: Amount of the payment
          example: 5000
    com.monytyz.billing.payment.dto.refund.RefundDto:
      required:
      - amount
      - createDate
      - createdBy
      - currency
      - externalId
      - id
      - lastModifiedBy
      - modifyDate
      - paymentId
      - reason
      - status
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the refund
          example: rfnd_sf232ljhwlC232kB
        externalId:
          type: string
          description: Reference of the unique identifier for the refund on the payment gateway
          example: re_3MRkCmBXyD37Yf5R1cKHdKyp
        paymentId:
          type: string
          description: Unique identifier for the payment
          example: pmt_m0CB9LflojZxytfC
        amount:
          type: number
          description: Amount to refund
          example: 100
        status:
          type: string
          description: Status of the refund. Status can be SUCCEEDED, PENDING, FAILED or CANCELED
          example: SUCCEEDED
          enum:
          - SUCCEEDED
          - PENDING
          - FAILED
          - CANCELED
        reason:
          type: string
          description: Reason for the refund. Value can be BILLING_ERROR, SERVICE_ISSUE, CANCELLATION, ADJUSTMENT or OTHER
          example: OTHER
          deprecated: true
          enum:
          - BILLING_ERROR
          - SERVICE_ISSUE
          - CANCELLATION
          - ADJUSTMENT
          - OTHER
        otherReason:
          type: string
          description: Description for the other reason. Only applicable when reason is OTHER
          example: Voiding Invoice
        errorCode:
          type: string
          description: Error code for the refund failure
          example: resource_missing
        errorMessage:
          type: string
          description: Error message for the refund failure
          example: 'No such charge: ''ch_1IuuJABXyD37Yf5RC6bEdN3'''
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_bPlPK7Xl4g36MCg4
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_bPlPK7Xl4g36MCg4
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        currency:
          type: string
          description: Currency for the refund
          example: USD
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
    com.monytyz.billing.payment.dto.payment.PaymentDetailDto:
      required:
      - account
      - currency
      - id
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for the payment
          example: pmt_m0CB9LflojZxytfC
        paymentDate:
          type: string
          description: Date of the payment
          format: date
          example: '2022-04-13'
        currency:
          type: string
          description: Currency of the payment
          example: USD
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        account:
          $ref: '#/components/schemas/com.monytyz.billing.customer.dto.account.AccountSummary'
        settledDate:
          type: string
          description: Date when the payment is settled
          format: date-time
        refundDate:
          type: string
          description: Date of the refund
          format: date
          example: '2022-04-25'
        voidDate:
          type: string
          description: Date when the payment is voided
          format: date
          example: '2022-04-25'
        description:
          type: string
          description: Description of the payment
          example: Monthly Payment
        paymentMethodId:
          type: string
          description: Unique identifier for the payment method
          example: pmtm_GDJKaum7vI9vf9tl
        gatewayId:
          type: string
          description: Unique identifier for the payment gateway
          example: pmtgw_EMfbqn56S9h9CweL
        gatewayReference:
          type: string
          description: Gateway reference for the payment. It can be charge id or payment intent id when the payment is successful and request id when the payment fails
          example: 4cd7-b4f4-a35ad60ad483
        gatewayCode:
          type: string
          description: Gateway error code when the payment fails
          example: a35ad60ad483
        gatewayMessage:
          type: string
          description: Gateway error message when the payment fails
          example: Gateway Connected Successfully
        amount:
          type: number
          description: Amount of the payment
          example: 100000000
        appliedAmount:
          type: number
          description: Applied amount for the payment
          example: 10000000
        unAppliedAmount:
          type: number
          description: Unapplied amount for the payment
          example: 100000
        refundedAmount:
          type: number
          description: Amount of the payment that has been refunded
          example: 100000
        amountAppliedToInvoices:
          type: number
          description: Amount of the payment that has been applied to invoice(s)
          example: 100000
        fullyApplied:
          type: boolean
          description: A boolean field indicating that payment is fully applied or not
          example: true
        paymentStatus:
          type: string
          description: Status of the payment. Status can be SUCCESS, PROCESSING, FAILED, CANCELED, REFUNDED or PARTIAL_REFUND
          example: SUCCESS
          enum:
          - PROCESSING
          - SUCCESS
          - FAILED
          - CANCELED
          - REFUNDED
          - PARTIAL_REFUND
        paymentType:
          type: string
          description: Payment method type like CREDIT_CARD, DIRECT_DEBIT, ACH_CREDIT etc
          example: CREDIT_CARD
          enum:
          - CREDIT_CARD
          - DIRECT_DEBIT
          - ACH_CREDIT
          - US_BANK_TRANSFER
          - MANUAL
        referenceNo:
          type: string
          description: Customer reference number for the payment
          example: '12345'
        applications:
          type: array
          description: All application(s) of the payment
          items:
            $ref: '#/components/schemas/com.monytyz.billing.transactable.dto.SourceApplicationSummary'
    com.monytyz.billing.payment.dto.payment.PaymentDto:
      required:
      - currency
      - id
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for the payment
          example: pmt_m0CB9LflojZxytfC
        paymentDate:
          type: string
          description: Date of the payment
          format: date
          example: '2022-04-13'
        currency:
          type: string
          description: Currency of the payment
          example: USD
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        account:
          $ref: '#/components/schemas/com.monytyz.billing.customer.dto.account.AccountSummary'
        collectionDate:
          type: string
          description: Date when the payment is settled
          format: date
          example: '2022-04-15'
          deprecated: true
        settledDate:
          type: string
          description: Date when the payment is settled
          format: date-time
        refundDate:
          type: string
          description: Date of the refund
          format: date
          example: '2022-04-25'
        voidDate:
          type: string
          description: Date when the payment is voided
          format: date
          example: '2022-04-25'
        description:
          type: string
          description: Description of the payment
          example: Monthly Payment
        paymentMethodId:
          type: string
          description: Unique identifier for the payment method
          example: pmtm_GDJKaum7vI9vf9tl
        gatewayId:
          type: string
          description: Unique identifier for the payment gateway
          example: pmtgw_EMfbqn56S9h9CweL
        gatewayReference:
          type: string
          description: Gateway reference for the payment. It can be charge id or payment intent id when the payment is successful and request id when the payment fails
          example: 4cd7-b4f4-a35ad60ad483
        gatewayCode:
          type: string
          description: Gateway error code when the payment fails
          example: a35ad60ad483
        gatewayMessage:
          type: string
          description: Gateway error message when the payment fails
          example: Gateway Connected Successfully
        amount:
          type: number
          description: Amount of the payment
          example: 100000000
        appliedAmount:
          type: number
          description: Applied amount for the payment
          example: 10000000
        unAppliedAmount:
          type: number
          description: Unapplied amount for the payment
          example: 100000
        fullyApplied:
          type: boolean
          description: A boolean field indicating that payment is fully applied or not
          example: true
        paymentStatus:
          type: string
          description: Status of the payment. Status can be SUCCESS, PROCESSING, FAILED, CANCELED, REFUNDED or PARTIAL_REFUND
          example: SUCCESS
          enum:
          - PROCESSING
          - SUCCESS
          - FAILED
          - CANCELED
          - REFUNDED
          - PARTIAL_REFUND
        paymentType:
          type: string
          description: Payment method type like CREDIT_CARD, DIRECT_DEBIT, ACH_CREDIT etc
          example: CREDIT_CARD
          enum:
          - CREDIT_CARD
          - DIRECT_DEBIT
          - ACH_CREDIT
          - US_BANK_TRANSFER
          - MANUAL
        referenceNo:
          type: string
          description: Customer reference number for the payment
          example: '12345'
        successfulOrProcessing:
          type: boolean
    com.monytyz.billing.payment.dto.payment.UpdateManualPaymentDto:
      type: object
      properties:
        referenceNo:
          type: string
          description: Customer reference number for the payment
          example: '12345'
        description:
          type: string
          description: Description of the payment
          example: USW's Manual Payment
        paymentDate:
          type: string
          description: Date of the payment
          format: date
          example: '2022-04-25'
    com.monytyz.billing.payment.dto.refund.RefundInitiateDto:
      required:
      - amount
      - reason
      type: object
      properties:
        amount:
          type: number
          description: Amount to refund
          example: 100
          exclusiveMinimum: 0
        reason:
          type: string
          description: Reason for the refund. Value can be BILLING_ERROR, SERVICE_ISSUE, CANCELLATION, ADJUSTMENT or OTHER
          example: OTHER
          deprecated: true
          enum:
          - BILLING_ERROR
          - SERVICE_ISSUE
          - CANCELLATION
          - ADJUSTMENT
          - OTHER
        otherReason:
          type:
          - string
          - 'null'
          description: Description for the other reason. Only applicable when reason is OTHER
          example: Voiding Invoice
    com.monytyz.billing.transactable.model.enums.TargetType:
      type: object
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.common.dto.ResponseDto:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
    com.monytyz.billing.payment.dto.payment.ManualPaymentSaveDto:
      required:
      - amount
      - paymentDate
      type: object
      properties:
        amount:
          minimum: 0
          type: number
          description: Amount of the payment
          example: 1000
        paymentDate:
          type: string
          description: Date of the payment
          format: date
          example: '2022-04-25'
        referenceNo:
          type: string
          description: Customer reference number for the payment
          example: '12345'
        description:
          type: string
          description: Description of the payment
          example: USW's Manual Payment
    com.monytyz.billing.transactable.TargetId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
