openapi: 3.2.0
info:
  title: OpenAPI definition Price Uplift Configuration API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Price Uplift Configuration
paths:
  /api/priceUplift/{priceUpliftConfigurationId}:
    get:
      tags:
      - Price Uplift Configuration
      operationId: getPriceUpliftConfiguration
      parameters:
      - name: priceUpliftConfigurationId
        in: path
        required: true
        schema:
          type: string
          example: pucfg_cHCX0TFN79rDgDyg
        example: pucfg_cHCX0TFN79rDgDyg
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get price uplift configuration by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Get price uplift configuration
      x-summary-source: derived
    put:
      tags:
      - Price Uplift Configuration
      operationId: updatePriceUpliftConfiguration
      parameters:
      - name: priceUpliftConfigurationId
        in: path
        required: true
        schema:
          type: string
          example: pucfg_cHCX0TFN79rDgDyg
        example: pucfg_cHCX0TFN79rDgDyg
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData.ApplyToAllProducts'
              - $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData.ProductSpecific'
        required: true
      responses:
        '200':
          description: Update price uplift configuration by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                type: object
      summary: Update price uplift configuration
      x-summary-source: derived
components:
  schemas:
    com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigDto:
      required:
      - id
      - locked
      - type
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - APPLY_TO_ALL_PRODUCTS
          - PRODUCT_SPECIFIC
        locked:
          type: boolean
      discriminator:
        propertyName: type
    com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData.ApplyToAllProducts:
      required:
      - amount
      - percentageType
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData'
      - type: object
        properties:
          percentageType:
            type: string
            enum:
            - MAX
            - FIXED
          amount:
            type: number
            format: double
    com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.ProductConfiguration:
      required:
      - amount
      - percentageType
      - productId
      type: object
      properties:
        productId:
          type: string
        amount:
          type: number
          format: double
        percentageType:
          type: string
          enum:
          - MAX
          - FIXED
    com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData.ProductSpecific:
      required:
      - productConfigurations
      - type
      type: object
      allOf:
      - $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData'
      - type: object
        properties:
          productConfigurations:
            uniqueItems: true
            type: array
            items:
              $ref: '#/components/schemas/com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.ProductConfiguration'
    com.monytyz.billing.quote.dto.quoteoffering.priceupliftconfiguration.PriceUpliftConfigSaveData:
      required:
      - type
      type: object
      properties:
        type:
          type: string
          enum:
          - APPLY_TO_ALL_PRODUCTS
          - PRODUCT_SPECIFIC
      discriminator:
        propertyName: type
