openapi: 3.2.0
info:
  title: OpenAPI definition Credit API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Credit
  description: Credits can be used to adjust account balances.
paths:
  /api/accounts/{accountId}/billGroups/{billGroupId}/credits:
    post:
      tags:
      - Credit
      summary: Create a credit
      description: Create a credit which can be used to adjust account balance
      operationId: createCredit
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_jgPH8G33rELY6LQa
        example: acct_jgPH8G33rELY6LQa
      - name: billGroupId
        in: path
        required: true
        schema:
          type: string
          example: billg_tDbC2FxuCwQoxcjm
        example: billg_tDbC2FxuCwQoxcjm
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditSaveDto'
        required: true
      responses:
        '201':
          description: Credit saved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditDetailDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
  /api/accounts/{accountId}/billGroups/{billGroupId}/credits/{creditId}:
    put:
      tags:
      - Credit
      summary: Update a credit
      description: Update a credit which can be used to adjust account balance
      operationId: updateCredit
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: acct_jgPH8G33rELY6LQa
        example: acct_jgPH8G33rELY6LQa
      - name: billGroupId
        in: path
        required: true
        schema:
          type: string
          example: billg_tDbC2FxuCwQoxcjm
        example: billg_tDbC2FxuCwQoxcjm
      - name: creditId
        in: path
        required: true
        schema:
          type: string
          example: crdt_3oUtURRnJJ8Afdw0
        example: crdt_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditSaveDto'
        required: true
      responses:
        '200':
          description: Update credit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditDetailDto'
        '404':
          description: Credit not found
        '500':
          description: Internal server error. Please contact the support team.
  /api/credits/{creditId}:
    get:
      tags:
      - Credit
      summary: Get credit by id
      description: Get credit by credit id
      operationId: getCreditsById
      parameters:
      - name: creditId
        in: path
        required: true
        schema:
          type: string
          example: crdt_3oUtURRnJJ8Afdw0
        example: crdt_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get credit by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditDetailDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
  /api/credits/{creditId}/customFields:
    put:
      tags:
      - Credit
      summary: Set Custom Fields For Credit
      description: Set Custom Fields For Credit by id
      operationId: setCustomFields_1
      parameters:
      - name: creditId
        in: path
        required: true
        schema:
          type: string
          example: crdt_3oUtURRnJJ8Afdw0
        example: crdt_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Custom fields updated
        '400':
          description: Bad Request
        '404':
          description: Quote not found
        '500':
          description: Internal server error. Please contact the support team.
  /api/credits/{creditId}/print:
    get:
      tags:
      - Credit
      summary: Get credit in pdf
      description: Get credit in pdf by credit id
      operationId: getCreditInPdf
      parameters:
      - name: Accept
        in: header
        required: false
        schema:
          type: string
          default: application/pdf
      - name: creditId
        in: path
        required: true
        schema:
          type: string
          example: crdt_3oUtURRnJJ8Afdw0
        example: crdt_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Credit PDF by ID
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Resource not found by Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
        '500':
          description: Internal server error. Please contact the support team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.common.dto.ResponseDto'
  /api/credits/{creditId}/void:
    post:
      tags:
      - Credit
      summary: Void a credit by credit id
      description: Void a credit
      operationId: voidCredit
      parameters:
      - name: creditId
        in: path
        required: true
        schema:
          type: string
          example: crdt_3oUtURRnJJ8Afdw0
        example: crdt_3oUtURRnJJ8Afdw0
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.credit.dto.credit.CreditVoidRequest'
        required: true
      responses:
        '200':
          description: Credit voided
        '400':
          description: Bad Request
        '404':
          description: Credit not found
        '500':
          description: Internal server error. Please contact the support team.
components:
  schemas:
    com.monytyz.billing.customer.dto.account.AccountSummary:
      required:
      - accountType
      - id
      - isTestAccount
      - status
      type: object
      properties:
        id:
          type: string
        customId:
          type: string
        isTestAccount:
          type: boolean
        locale:
          type: string
        accountName:
          type: string
        defaultCurrency:
          type: string
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        status:
          type: string
          enum:
          - ACTIVE
          - CANCELED
          - SUSPENDED
          - INACTIVE
        accountType:
          type: string
          enum:
          - CUSTOMER
          - PARTNER
        defaultLegalEntityId:
          type: string
    com.monytyz.billing.transactable.dto.SourceApplicationSummary:
      required:
      - amount
      - applicationDate
      - targetId
      - targetType
      - type
      type: object
      properties:
        targetId:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.TargetId'
        targetType:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.model.enums.TargetType'
        amount:
          type: number
        type:
          type: string
          enum:
          - APPLICATION
          - UNAPPLICATION
        applicationDate:
          type: string
          format: date-time
      description: All application(s) of the credit note
    com.monytyz.billing.credit.dto.creditnote.CreditApplicationDto:
      required:
      - amountApplied
      - creditId
      - invoiceId
      type: object
      properties:
        invoiceId:
          type: string
          description: Unique identifier for the invoice to which credit was fully or partially applied
          example: invce_q0xESEWovN7JvfAe
        creditId:
          type: string
          description: Unique identifier for the applied credit
          example: crdt_CMxSdjFUrzCLqFil
        amountApplied:
          type: number
          description: Amount of the credit applied to the invoice
          example: 100
      description: Application(s) of this credit on invoice(s)
    com.monytyz.billing.credit.dto.credit.CreditDetailDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for the Credit
          example: crdt_CMxSdjFUrzCLqFil
        accountId:
          type: string
          description: Account id associated with Credit
          example: acct_m0CB9LflojZxytfC
        accountSummary:
          $ref: '#/components/schemas/com.monytyz.billing.customer.dto.account.AccountSummary'
        billGroupId:
          type: string
          description: Billgroup id associated with Credit
          example: billg_tDbC2FxuCwQoxcjm
        creditNoteId:
          type: string
          description: ID for the Note of this credit
          example: crdnt_mluwn46VyWhERErW
        prepaidInvoiceItemId:
          type: string
          description: Invoice item id for prepaid invoice
          example: invce_q0xESEWovN7JvfAe
        status:
          type: string
          description: Status of the credit. Describes if it can be ACTIVE,INACTIVE,CANCELED or APPLIED
          enum:
          - ACTIVE
          - INACTIVE
          - VOID
          - EXPIRED
          - APPLIED
        type:
          type: string
          description: Type of the credit. Can be  CREDIT_NOTE,SERVICE,PREPAID
          enum:
          - CREDIT_NOTE
          - SERVICE
          - PREPAID
        currency:
          type: string
          description: Currency for the credit amount
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        amount:
          type: number
          description: Amount which can be applied
          example: 200
        amountApplied:
          type: number
          description: Amount which was applied
          example: 10
        amountRemaining:
          type: number
          description: Remaining amount which isn't applied yet
          example: 190
        expirationDate:
          type: string
          description: Expiration date for this credit
          format: date
        reason:
          type: string
          description: Reason why this credit exists/created
          example: Created from Credit Note (crdnt_D2D8l6KW6Qky6rIz)
        name:
          type: string
          description: Name of the credit
        appliedDate:
          type: string
          description: Date when this credit was applied
          format: date
        creditApplications:
          type: array
          description: Application(s) of this credit on invoice(s)
          items:
            $ref: '#/components/schemas/com.monytyz.billing.credit.dto.creditnote.CreditApplicationDto'
        applications:
          type: array
          description: Application(s) of this credit
          items:
            $ref: '#/components/schemas/com.monytyz.billing.transactable.dto.SourceApplicationSummary'
        aggregatedApplications:
          type: array
          description: Aggregated application(s) of this credit
          items:
            $ref: '#/components/schemas/com.monytyz.billing.transactable.dto.AggregatedSourceApplicationSummary'
        customFields:
          type: object
          additionalProperties:
            type: object
            description: User configured custom fields for the credit
          description: User configured custom fields for the credit
        voidReason:
          type: string
          description: Reason why this credit was voided.
    com.monytyz.billing.transactable.model.enums.TargetType:
      type: object
    com.monytyz.billing.common.dto.ResponseDto:
      type: object
      properties:
        status:
          type: integer
          format: int32
        message:
          type: string
    com.monytyz.billing.transactable.dto.AggregatedSourceApplicationSummary:
      required:
      - amount
      - targetId
      - targetType
      type: object
      properties:
        targetId:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.TargetId'
        targetType:
          $ref: '#/components/schemas/com.monytyz.billing.transactable.model.enums.TargetType'
        amount:
          type: number
      description: Aggregated application(s) of the credit note
    com.monytyz.billing.credit.dto.credit.CreditSaveDto:
      type: object
      properties:
        creditNoteId:
          type: string
          description: ID for the Note of this credit
          example: ctnt_QEPqCDqeaVte5WzM
        prepaidInvoiceItemId:
          type: string
          description: Invoice item id for prepaid invoice
          example: ivitm_DHlWk4mIICkQabl0
        prepaidProductId:
          type: string
          description: Id for prepaid product
          example: prod_nStU73ZJahgBSxnh
        status:
          type: string
          description: Status of the credit. Describes if it can be ACTIVE,INACTIVE,CANCELED or APPLIED
          enum:
          - ACTIVE
          - INACTIVE
          - VOID
          - EXPIRED
          - APPLIED
        type:
          type: string
          description: Type of the credit. Can be  CREDIT_NOTE,SERVICE,PREPAID
          enum:
          - CREDIT_NOTE
          - SERVICE
          - PREPAID
        currency:
          type: string
          description: Currency for the credit amount
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        amount:
          type: number
          description: Amount which can be applied
        expirationDate:
          type: string
          description: Expiration date for this credit
          format: date
        reason:
          maxLength: 255
          minLength: 0
          type: string
          description: Reason why this credit exists/created
          example: Billing
        name:
          type: string
          description: Name of the credit
        customFields:
          type: object
          additionalProperties:
            type: object
            description: User configured custom fields for the credit
          description: User configured custom fields for the credit
    com.monytyz.billing.transactable.TargetId:
      required:
      - value
      type: object
      properties:
        value:
          type: string
    com.monytyz.billing.credit.dto.credit.CreditVoidRequest:
      required:
      - reason
      type: object
      properties:
        reason:
          type: string
