openapi: 3.2.0
info:
  title: OpenAPI definition Payment Gateway API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Payment Gateway
  description: Payment gateway is a service that helps customer transfer money to pay for invoices.
paths:
  /api/paymentGateways:
    get:
      tags:
      - Payment Gateway
      summary: Get payment gateway list
      description: Endpoint to retrieve payment gateway list within a tenant.
      operationId: getPaymentGatewayList
      parameters:
      - name: currentPage
        in: query
        required: false
        schema:
          type: string
          example: 1
        example: 1
      - name: pageSize
        in: query
        required: false
        schema:
          type: string
          example: 20
        example: 20
      - name: sort
        in: query
        required: false
        schema:
          type: string
          example: tenantId
        example: tenantId
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayListDto'
        '500':
          description: Internal server error. Please contact the support team.
  /api/paymentGateways/{paymentGatewayId}/gatewayAccounts/{paymentGatewayAccountId}/setupIntent:
    post:
      tags:
      - Payment Gateway
      summary: Create setup intent
      description: Endpoint to create setup intent for the allowed payment methods.
      operationId: createSetupIntent
      parameters:
      - name: paymentGatewayId
        in: path
        required: true
        schema:
          type: string
          example: pmtgw_EMfbqn56S9h9CweL
        example: pmtgw_EMfbqn56S9h9CweL
      - name: paymentGatewayAccountId
        in: path
        required: true
        schema:
          type: string
          example: acct_m0CB9LflojZxytfC
        example: acct_m0CB9LflojZxytfC
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '201':
          description: Create Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.stripe.StripeSetupIntentDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
components:
  schemas:
    com.monytyz.billing.payment.dto.paymentgateway.AmountConfiguration:
      required:
      - currency
      type: object
      properties:
        currency:
          type: string
          description: Currency to which the amount configuration applies
          example: USD
          enum:
          - AUD
          - BYN
          - CAD
          - CNY
          - DKK
          - EUR
          - GBP
          - INR
          - ISK
          - MYR
          - NOK
          - SEK
          - SGD
          - TWD
          - USD
        minimum:
          type: number
          description: Minimum payment amount allowed for payment type and currency
          example: 25
        maximum:
          type: number
          description: Maximum payment amount allowed for payment type and currency
          example: 500
      description: Minimum and maximum amounts for payment type per currency
    com.monytyz.billing.payment.dto.paymentmethod.PaymentMethodSupport:
      required:
      - enabled
      - method
      type: object
      properties:
        method:
          type: string
          description: Payment method type like CREDIT_CARD, DIRECT_DEBIT, ACH_CREDIT etc
          example: DIRECT_DEBIT
          enum:
          - CREDIT_CARD
          - DIRECT_DEBIT
          - ACH_CREDIT
          - US_BANK_TRANSFER
          - MANUAL
        enabled:
          type: boolean
          description: A boolean field indicating that the payment method type should be enabled or not
          example: true
      description: A list of allowed payment methods
    com.monytyz.billing.payment.dto.paymentgateway.stripe.StripeSetupIntentDto:
      type: object
      properties:
        setupIntentId:
          type: string
          description: Stripe SetupIntent ID
          example: seti_1NNNTHBXyD37Yf5RCKgSTq04
    com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayDto:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the payment gateway
          example: pmtgw_EMfbqn56S9h9CweL
        type:
          type: string
          description: Payment gateway type like STRIPEV2, BRAINTREE, WORLDPAY etc
          example: STRIPEV2
          enum:
          - STRIPEV2
          - BRAINTREE
          - WORLDPAY
          - AUTHNET
          - ADYEN
          - VANTIV
          - PAYPAL_PRO
          - PAYMENT_TECH
          - TEST_PASS
          - TEST_FAIL
        status:
          type: string
          description: Payment gateway status like ACTIVE, INACTIVE OR ARCHIVED
          example: ACTIVE
          enum:
          - ACTIVE
          - INACTIVE
          - ARCHIVED
        testGateway:
          type: boolean
          description: A boolean field indicating that it is the test gateway or not
          example: false
        description:
          type: string
          description: Description of the payment gateway
          example: Description for the payment gateway
        publicKey:
          type: string
          description: Public key for the payment gateway. It's publishable key for Stripe
          example: pk_test_51Hwfowe23LJ02M1f5WZ6c23
        defaultGateway:
          type: boolean
          description: A boolean field indicating that it is the default gateway or not
          example: true
        locked:
          type: boolean
          description: A boolean field indicating that the gateway is locked or not
          example: true
        webhookId:
          type: string
          description: Unique identifier for the webhook
          example: we_1MEaM8BVaXRvkQL7LqeaOCgy
        allowedPaymentMethods:
          uniqueItems: true
          type: array
          description: A list of allowed payment methods
          items:
            $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentmethod.PaymentMethodSupport'
        paymentConfiguration:
          $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayConfigurations'
      description: Payment gateway details of the payment method
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayListDto:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
    com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayConfiguration:
      required:
      - amountConfigurations
      - type
      type: object
      properties:
        type:
          type: string
          description: Payment method type
          example: US_BANK_TRANSFER
          enum:
          - CREDIT_CARD
          - DIRECT_DEBIT
          - ACH_CREDIT
          - US_BANK_TRANSFER
          - MANUAL
        amountConfigurations:
          type: array
          description: Minimum and maximum amounts for payment type per currency
          items:
            $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.AmountConfiguration'
      description: Configuration for minimum and maximum payments amounts
      example: US_BANK_TRANSFER
    com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayConfigurations:
      required:
      - configurations
      type: object
      properties:
        configurations:
          type: array
          description: Configuration for minimum and maximum payments amounts
          example: US_BANK_TRANSFER
          items:
            $ref: '#/components/schemas/com.monytyz.billing.payment.dto.paymentgateway.PaymentGatewayConfiguration'
      description: Configuration for minimum and maximum payments amounts
