openapi: 3.2.0
info:
  title: OpenAPI definition Products API
  version: v0
  description: '# About MonetizeNow


    MonetizeNow provides a Quoting, Billing, and Usage platform built for the B2B SaaS enterprise.'
servers:
- url: https://api.monetizeplatform.com
tags:
- name: Products
  description: A product is an item that a business sells to its customers.
paths:
  /api/products:
    post:
      tags:
      - Products
      summary: Creates a new product
      description: Creates a new product given some information
      operationId: createProduct
      parameters:
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductSaveDto'
        required: true
      responses:
        '201':
          description: Create product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
    get:
      tags:
      - Products
      summary: Get all products
      description: Get a list of all product
      operationId: getAllProduct
      parameters:
      - name: id
        in: query
        schema:
          type: string
          example: prod_nStU73ZJahgBSxnh
      - name: name
        in: query
        schema:
          type: string
          example: Netflix Premium
      - name: customId
        in: query
        schema:
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
      - name: status
        in: query
        schema:
          type: string
          example: ACTIVE
      - name: productType
        in: query
        schema:
          type: string
          example: Software
      - name: sort
        in: query
        schema:
          type: string
          example: name
      - name: currentPage
        in: query
        schema:
          type: number
          example: 1
      - name: pageSize
        in: query
        schema:
          type: number
          example: 10
      - name: createDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: modifyDate
        in: query
        schema:
          type: string
          example: 2023-07-28T06:01:22.684+0000
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Product list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductListDto'
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
  /api/products/search:
    get:
      tags:
      - Products
      summary: Search products by id, customId, and name
      description: Get all product's that meet the search criteria as a list
      operationId: searchProducts
      parameters:
      - name: query
        in: query
        schema:
          type: string
          example: query string
      - name: sort
        in: query
        schema:
          type: string
          example: id
      - name: currentPage
        in: query
        schema:
          type: string
          example: 1
      - name: pageSize
        in: query
        schema:
          type: string
          example: 10
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: 'Object list retrieved '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductListDto'
        '500':
          description: Internal server error. Please contact the support team.
  /api/products/{productId}:
    get:
      tags:
      - Products
      summary: Get product by Id
      description: Get a particular product by product Id
      operationId: getProductById
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          example: prod_nStU73ZJahgBSxnh
        example: prod_nStU73ZJahgBSxnh
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Get object by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        '400':
          description: Bad Request
        '404':
          description: Resource not found by Id
        '500':
          description: Internal server error. Please contact the support team.
    put:
      tags:
      - Products
      summary: Updates a product
      description: Updates a product given some information
      operationId: updateProduct
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          example: prod_nStU73ZJahgBSxnh
        example: prod_nStU73ZJahgBSxnh
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductSaveDto'
        required: true
      responses:
        '200':
          description: Update product by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/products/{productId}/activate:
    put:
      tags:
      - Products
      summary: Activate product by product Id
      description: Change product status to active by product Id
      operationId: activateProductById
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          example: prod_nStU73ZJahgBSxnh
        example: prod_nStU73ZJahgBSxnh
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: get product by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
  /api/products/{productId}/deactivate:
    put:
      tags:
      - Products
      summary: Deactivate product
      description: Change product status to deactive by product Id
      operationId: deactivateProductById
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          example: prod_nStU73ZJahgBSxnh
        example: prod_nStU73ZJahgBSxnh
      - name: x-api-key
        in: header
        description: x-api-key is an authentication or authorization token used in API requests to verify the identity and permissions of the client
        required: true
        schema:
          type: string
          example: TYQ1YzM3NWItZjQzMi00NDYwLTlmOWYtN2UwNzI5YzM2ZmV0
      responses:
        '200':
          description: Deactivate product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        '400':
          description: Bad Request
        '500':
          description: Internal server error. Please contact the support team.
components:
  schemas:
    com.monytyz.billing.catalog.dto.usage.UsageTypeDto:
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for a usage type
        name:
          type: string
          description: Display name of a usage type
        pluralName:
          type: string
          description: Name of a usage type in plural form
        description:
          type: string
          description: Description of a usage type
        unitName:
          type: string
          description: Unit for the usage. I.E. GB for bandwidth usage
        decimalPlaces:
          type: integer
          description: Decimal places is used to count fractional precision for a usage unit
          format: int32
          example: 2
        status:
          type: string
          description: Active status for a UsageType. Can be ACTIVE/INACTIVE
          enum:
          - ACTIVE
          - INACTIVE
    com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData.AllProducts:
      type: object
      allOf:
      - $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData'
    com.monytyz.billing.catalog.dto.product.ProductSaveDto:
      required:
      - name
      - productType
      - status
      type: object
      properties:
        customId:
          maxLength: 255
          minLength: 0
          type: string
          example: 6b48c3f6-852e-4cd7-b4f4-a35ad60ad483
        financeId:
          maxLength: 255
          minLength: 0
          type: string
          example: GL-123
        name:
          maxLength: 255
          minLength: 1
          type: string
          description: Name for the product
          example: Netflix Premium
        description:
          maxLength: 255
          minLength: 1
          type: string
          description: Product description
          example: Netflix Monthly Premium
        status:
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        productType:
          type: string
          enum:
          - ADVANCE
          - ARREARS
          - USAGE
          - ONETIME
          - ONETIME_PREPAID_CREDIT
          - MIN_COMMIT
        usageTypeIds:
          uniqueItems: true
          type: array
          example:
          - ustyp_3oUtURRnJJ8Afdw0
          items:
            type: string
            example: '["ustyp_3oUtURRnJJ8Afdw0"]'
        oneTimePrepaidCreditConfig:
          oneOf:
          - $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData.AllProducts'
          - $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData.UsageProducts'
        sku:
          maxLength: 255
          minLength: 0
          type: string
          example: UGG-BB-PUR-06
        recognitionMethod:
          type: string
          example: EVENLY_MONTHLY_IN_ADVANCE
          enum:
          - IMMEDIATE
          - EVENLY_MONTHLY_IN_ADVANCE
        customFields:
          type: object
          additionalProperties:
            type: object
        taxItemCode:
          maxLength: 100
          minLength: 0
          type: string
          example: B13E4D91-B3C9-4847-BB9E-58B925ECF033
        taxExempt:
          type: boolean
          example: false
    com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData.UsageProducts:
      type: object
      allOf:
      - $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData'
    com.monytyz.billing.catalog.dto.product.ProductListDto:
      required:
      - content
      - totalElements
      - totalPages
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.product.ProductDto'
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
        pageable:
          $ref: '#/components/schemas/MNPageable'
    MNPageable:
      required:
      - pageNumber
      - pageSize
      type: object
      properties:
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
    com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData:
      required:
      - type
      type: object
      properties:
        type:
          type: string
      discriminator:
        propertyName: type
    com.monytyz.billing.catalog.dto.product.ProductDto:
      required:
      - id
      type: object
      properties:
        createdBy:
          type: string
          description: Identifier for the user who created the record
          example: usr_X0XZ05bvkrB1RpLS
        createDate:
          type: string
          description: Timestamp of when the record was created
          format: date-time
        lastModifiedBy:
          type: string
          description: Identifier for the user who last modified the record
          example: usr_X0XZ05bvkrB1RpLS
        modifyDate:
          type: string
          description: Timestamp of when the record was last modified
          format: date-time
        id:
          type: string
          description: Unique identifier for the product
          example: prod_nStU73ZJahgBSxnh
        customId:
          type: string
          description: A user provided identifier for the product
          example: c993f52b-0bbd-454b-9849-fd6c1991efb6
        financeId:
          type: string
          description: This is the Income Account ID from the accounting system
          example: GL-123
        name:
          type: string
          description: Name of the product
          example: Netflix Premium
        description:
          type: string
          description: Description of the product
          example: Netflix Monthly Premium
        status:
          type: string
          description: Status of the product, which indicates if the product is ACTIVE or INACTIVE
          enum:
          - ACTIVE
          - INACTIVE
        productType:
          type: string
          description: Indicates the type of the product, which can be USAGE, ONETIME MIN_COMMIT, ADVANCE, ARREARS, ONETIME_PREPAID_CREDIT etc.
          enum:
          - ADVANCE
          - ARREARS
          - USAGE
          - ONETIME
          - ONETIME_PREPAID_CREDIT
          - MIN_COMMIT
        usageTypes:
          uniqueItems: true
          type: array
          description: 'Definition for the type of usage for usage products. It accepts list of usage types. A usage product can be multiple things. I.E. for ISP connection usage type might be Bandwidth with unit Megabytes, for telephone calls usage type might be time with unit as minutes. '
          items:
            $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.usage.UsageTypeDto'
        oneTimePrepaidCreditConfig:
          $ref: '#/components/schemas/com.monytyz.billing.catalog.dto.prepaidcredit.OneTimePrePaidCreditConfigData'
        sku:
          type: string
          description: Stock Keeping Unit. Used for identifying a specific stock of a product.
          example: UGG-BB-PUR-06
        recognitionMethod:
          type: string
          description: Recognition method for the product
          enum:
          - IMMEDIATE
          - EVENLY_MONTHLY_IN_ADVANCE
        locked:
          type: boolean
          description: Indicates if a product is locked or not. When a product is used in offering, it's locked and can not be deleted.
        customFields:
          type: object
          additionalProperties:
            type: object
            description: User configured custom fields for the product
          description: User configured custom fields for the product
        taxItemCode:
          type: string
          description: Tax code identifier for the product
          example: B13E4D91-B3C9-4847-BB9E-58B925ECF033
        taxExempt:
          type: boolean
          description: Boolean field to identify if the product is tax-exempt
          example: false
      description: Product details associated with the subscription item
